<!DOCTYPE html>
<html layout:decorate="~{common/layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="${paper.title}"></title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<main class="min-w-full" layout:fragment="main">

    <div class="my-12 flex flex-col justify-content align-items mx-auto w-2/3 max-w-2xl ">

        <div class=" flex flex-col justify-center align-items gap-3 mt-3">
            <h1 class="text-center text-green-800 text-3xl font-bold my-12" th:text="${paper.title}"></h1>
            <img id="imgId" th:src="${paper.imageUrl}" th:if="${paper.imageUrl != null}"/>
            <p class="m-12 text-lg" th:text="${paper.content}"></p>
        </div>
    </div>
</main>
</body>
</html>