<html layout:decorate="~{common/layout.html}">

<head>
    <title>문서 목록</title>
</head>

<body>

<main layout:fragment="main" class="w-screen h-full">
    <div class="flex flex-row m-16 min-w-fit min-h-fit">
        <p class="text-2xl" th:if="${#lists.isEmpty(papers)}">
            서류 보관 내역이 없습니다.
        </p>
        <div th:if="${not #lists.isEmpty(papers)}">
            <div class="card card-compact w-96 bg-base-100 shadow-xl" th:each="paper : ${papers}">
                <figure><img th:src="${paper.imageUrl}" alt="Paper Image" /></figure>
                <div class="card-body">
                    <h2 class="card-title" th:text="${paper.title}"></h2>
                    <div class="card-actions justify-end">
                        <button class="btn btn-blue">상세정보</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
</body>
</html>