<!DOCTYPE html>
<html layout:decorate="~{common/layout.html}">
<head>
  <title>줄서기 관리 페이지</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200">
<section layout:fragment="main" class="max-w-4xl mx-auto py-10 px-5">
  <h1 class="text-3xl font-semibold text-gray-700 mb-8">줄서기 목록</h1>
  <div class="overflow-x-auto bg-white rounded-lg shadow overflow-y-auto relative">
    <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative">
      <thead>
      <tr class="text-left">
        <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100 text-gray-600">환자 ID</th>
        <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100 text-gray-600">환자 이름</th>
        <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100 text-gray-600"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="waiting : ${waitingList}" class="bg-white">
        <td class="py-2 px-3" th:text="${waiting.memberId}"></td>
        <td class="py-2 px-3" th:text="${waiting.name}"></td>
        <td class="py-2 px-3">
          <form th:action="@{'/admin/waiting/delete/'+${waiting.hospitalId}+'/'+${waiting.memberId}}" method="post">
            <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Remove</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
</body>
</html>
