<html layout:decorate="~{common/layout.html}">

<head>
    <title>회원 정보 | PLANBTI</title>
</head>

<body>

<main layout:fragment="main"  class="w-screen min-h-full">
    <div class="w-full h-full flex flex-col justify-center items-center">
        <div class="font-extrabold text-xl mt-24">회원 정보</div>
        <div class="w-6/12 mt-12">

            <svg th:data-jdenticon-value="|${member.name}|" width="200" height="200"></svg>
            <table class="table w-full">
                <tbody>
                <tr>
                    <th>이름</th>
                    <td th:text="${member.name}"></td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td th:text="${member.email}"></td>
                </tr>
                </tbody>
            </table>

            <div class="w-full flex">
                <a href="/member/modify" class="btn btn-outline btn-success grow mr-2 mb-8">회원 정보 수정</a>
                <a href="#modal-1" class="btn btn-outline grow-0 mb-8">회원 탈퇴</a>
                <div class="modal" id="modal-1">
                    <div class="modal-box">
                        <h3 class="font-bold text-lg">정말로 회원 탈퇴하시겠습니까?</h3>
                        <div class="modal-action">
                            <a href="/member/profile" class="btn btn-success">취소</a>
                            <a href="/member/delete" class="btn btn-active btn-ghost">회원 탈퇴</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>

</html>