<!DOCTYPE html>
<html layout:decorate="~{common/layout.html}">
<head>
  <meta charset="UTF-8">
  <title>줄서기 알림</title>
</head>
<body>
<section layout:fragment="main" class="relative py-3 sm:max-w-xl sm:mx-auto">
  <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
    <h1 class="font-semibold text-center text-2xl mb-6">알림</h1>

    <!-- 알림을 순회하며 보여줍니다. -->
    <div th:each="notification : ${notifications}" class="mb-4">
      <!-- 각 알림의 내용을 출력합니다. -->
      <div th:attr="class=${notification.read ? 'bg-green-100 p-4 rounded-md' : 'bg-blue-100 p-4 rounded-md'}">
        <p class="font-semibold text-sm" th:text="${notification.content}"></p>
      </div>
    </div>
  </div>

</section>
</body>
</html>
