<!DOCTYPE html>
<html layout:decorate="~{common/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>병원 상세 페이지</title>
    <script>
        var alreadyApplied = [[${hasAlreadyApplied}]];

        if (alreadyApplied) {
            document.getElementById("applyButton").disabled = true;
        }

        function disableButton() {
            if(alreadyApplied) {
                alert("이미 신청을 완료했습니다");  // alert 메시지 표시
                return false; // 폼 제출 중지
            }

            var confirmAction = confirm("관리자를 신청하시겠습니까?");
            if (confirmAction == true) {
                alreadyApplied = true;
                document.getElementById("applyButton").disabled = true;
                document.getElementById("applyForm").submit(); // 폼 직접 제출
            }
        }
    </script>
</head>
<body>
<section layout:fragment="main">
    <div class="text-center">
        <h1 class="text-4xl mb-4 mt-8" th:text="${hospitalName}"></h1>

        <div class="mt-8">
            <form th:action="@{'/admin/apply/' + ${hospital.id}}" method="post" id="applyForm">
                <input type="hidden" name="memberId" th:value="${memberId}" />
                <button type="submit" id="applyButton" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" onclick="disableButton()">
                    관리자 신청하기
                </button>
            </form>
        </div>
        <div class="mt-8">
            <form th:action="@{'/admin/waiting/' + ${hospital.id}}" method="get">
                <input type="hidden" name="memberId" th:value="${memberId}" />
                <button type="submit" class="bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">
                    줄서기 대기 관리
                </button>
            </form>
        </div>
        <div class="mt-8">
            <form th:action="@{'/hospital/' + ${hospital.id} + '/inquiry'}" method="get">
                <input type="hidden" name="memberId" th:value="${memberId}" />
                <button type="submit" class="bg-pink-400 hover:bg-pink-500 text-white font-bold py-2 px-4 rounded">
                    1:1 채팅하기
                </button>
            </form>
        </div>
    </div>
</section>
</body>

</html>
