<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="|/hospital/category/find|">
    <label for="region">지역</label>
    <select id="region" name="region">
        <option value="서울">서울</option>
        <option value="부산">부산</option>
        <option value="대구">대구</option>
        <!-- 다른 지역 옵션들 -->
    </select>

    <label for="addr">동네:</label>
    <select id="addr" name="addr">
        <option value="강남">강남</option>
        <option value="종로">종로</option>
        <option value="강북">강북</option>
        <!-- 다른 지역 옵션들 -->
    </select>

    <label for="classify">형태:</label>
    <select id="classify" name="classify">
        <option value="A">종합병원</option>
        <option value="B">병원</option>
        <option value="C">의원</option>
        <!-- 다른 형태 옵션들 -->
    </select>

    <label for="department">과목:</label>
    <select id="department" name="department">
        <option value="D001">내과</option>
        <option value="D002">소아청소년과</option>
        <option value="D003">신경과</option>
        <!-- 다른 과목 옵션들 -->
    </select>

    <button type="submit">제출</button>
</form>
</body>
</html>