<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>다음 지도 API</title>
</head>
<body>
<div id="map" style="width:750px;height:350px;"></div>

<script th:attr="src=${'https://dapi.kakao.com/v2/maps/sdk.js?appkey=' + appKey + '&libraries=clusterer'}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    // hospitalData 배열을 채우는데 필요한 위도, 경도값을 타임리프를 활용하여 가져옵니다.
    var items = /*[[${items}]]*/ [{"dutyName": "", "wgs84Lat": 0, "wgs84Lon": 0}];

    var hospitalData = [];
    for (var i = 0; i < items.length; i++) {
        var item = items[i];
        hospitalData.push([item.wgs84Lat, item.wgs84Lon, '<div style="padding:5px;">' + item.dutyName + '</div>']);
    }
    /*]]>*/
</script>
<script>


    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.56656, 126.98014), // 지도의 중심좌표
            level: 2, // 지도의 확대 레벨
            mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
        };

    // 지도를 생성한다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 마커 클러스터러를 생성합니다
    var clusterer = new kakao.maps.MarkerClusterer({
        map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
        averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
        minLevel: 7 // 클러스터 할 최소 지도 레벨
    });

    var markers = [];

    var currentInfowindow = null;

    function displayInfowindow(marker, content) {
        if (currentInfowindow) closeInfowindow(currentInfowindow);

        var infowindow = new kakao.maps.InfoWindow({
            content: content
        });

        infowindow.open(map, marker);
        currentInfowindow = infowindow;
    }

    function closeInfowindow(infowindow) {
        if (infowindow) {
            infowindow.close();
        }
    }

    for (var i = 0; i < hospitalData.length; i++) {
        var marker = new kakao.maps.Marker({
            position: new kakao.maps.LatLng(hospitalData[i][0], hospitalData[i][1]),
            map: map
        });

        (function (marker, content) {
            kakao.maps.event.addListener(marker, 'click', function () {
                displayInfowindow(marker, content);
            });
        })(marker, hospitalData[i][2]);
        markers.push(marker);
    }

    clusterer.addMarkers(markers);
    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
</script>
<h3 class="text-center text-medium font-bold" th:text="${appKey}"></h3>
</body>
</html>